.forecast-title {
  text-align: left;
  /* margin: 10px 0 10px 20px; */
}

.forecast-container {
  display: flex;
  overflow-x: scroll;
  /* background-color: #f0f0f0; */
  gap: 1rem;
  padding: 0.5rem 0;
  height: 100%;
  width: 100%;

  &::-webkit-scrollbar {
    height: 2.5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: gray;
  }
}

.forecast-card {
  @apply flex flex-col justify-center items-center aspect-[3/4] h-full bg-white rounded-2xl p-2 text-center gap-2
  max-lg:flex-row max-lg:aspect-[4/3];
}
